<mat-card class="dialog">
  <mat-card-title>
    <h1>Sign in</h1>
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <mat-label>User name</mat-label>
      <input matInput placeholder="User name" value="">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password" value="">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Login / Register</button>
  </mat-card-actions>
</mat-card>